h1 {
    color: orange;
    text-align: center;
  }
  
  th {
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
  }
  
  td {
    text-align: center;
    font-weight: lighter;
  }
  
  table {
    border: 6px solid orange;
  }
  
  *{
    background-color: lightgrey;
    font-family: "Merriweather Sans";
  }
  
  td {
    border: 3px solid lightorange;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }